<div class="row justify-content-center">
  <div class="col-lg-8">
    <h1 style="color:#2d6a4f;" class="mb-4">Edit Address</h1>

    <div class="card p-4">
      <%= form_with model: current_user, url: update_account_path, method: :patch do |f| %>

        <% if current_user.errors.any? %>
          <div class="alert alert-danger">
            <% current_user.errors.full_messages.each do |msg| %>
              <p class="mb-0"><%= msg %></p>
            <% end %>
          </div>
        <% end %>

        <div class="row g-3 mb-3">
          <div class="col">
            <label class="form-label">First Name</label>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="col">
            <label class="form-label">Last Name</label>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Street Address</label>
          <%= f.text_field :street, placeholder: "123 Main St", class: "form-control" %>
        </div>

        <div class="row g-3 mb-3">
          <div class="col">
            <label class="form-label">City</label>
            <%= f.text_field :city, placeholder: "Winnipeg", class: "form-control" %>
          </div>
          <div class="col">
            <label class="form-label">Postal Code</label>
            <%= f.text_field :postal_code, placeholder: "R3C 1A1", class: "form-control" %>
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label">Province</label>
          <%= f.select :province_id,
              options_from_collection_for_select(@provinces, :id, :name, current_user.province_id),
              { include_blank: "Select Province" },
              { class: "form-select" } %>
        </div>

        <%= f.submit "Save Address", class: "btn btn-success me-2" %>
        <%= link_to "Cancel", account_path, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
